.App {
    --header_height: 60px;
    width: 1140px;
    margin: 0 auto;
}

.hw {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 336px;

}

.hwTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #000;

}