.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red;
    font-size: 12px;
}

.input {
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
    background-color: #ffe6e6;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
