.sendForm {

}

.textarea {
    border-radius: 20px;
    width: 976px;
    height: 40px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
}

.button {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    border: none;
    margin-left: 44px;
}

.button:hover {
    opacity: 0.9;
}
.button:active {
    background: #0252a4;
}
